@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

figure img {
  width: 90%;
  margin: 1rem 0;
}

li:has(> figure) {
  list-style: none;
}

h1 {
  margin-top: 10dvh;
}

h2 {
  padding-top: 3rem;
}

h2::before {
  content: "# ";
  color: var(--link);
}

#remove-margin {
  margin-bottom: 0;
}

#subtitle {
  display: inline-block;
  font-size: 1.3rem;
  opacity: 0.8;
  margin-top: 2rem;
  text-align: right;
  padding-left: 10%;
  max-width: 100%;
}

h1 + p:first-letter,
.word-cappilar:first-letter {
  font-size: 5.5rem;
  color: var(--link);
  font-weight: bold;
  line-height: 1;
  initial-letter: 2;
  padding-right: 0.5rem;
  float: left;
}

.exercise-answer {
  font-family: "Indie Flower", serif !important;
  font-weight: 400;
}

.exercise-answer * {
  font-family: "Indie Flower", serif !important;
}

@media screen and (max-width: 720px) {
  article h1 + p:first-letter,
  .word-cappilar:first-letter {
    float: none;
  }
}

#nav-line {
  display: inline-block;
  font-size: 1rem;
  margin: 2rem 0 0;
  padding: 0.5rem 0 0;
  border-top: 1px solid var(--text);
  width: 100%;
}

#nav-line + p {
  margin-top: 3rem;
}

.simbol-h2 {
  color: var(--link);
}

#reference hr {
  display: inline-block;
  width: 40dvw;
  text-align: left;
}

#reference p,
#reference li {
  font-size: 1.2rem;
}

#nav-page {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  background-color: var(--nav);
  opacity: 0.9;
  width: 100%;
  height: 1.5rem;

  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10;
}

#nav-page a {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px dotted;
  border-top: none;
  border-bottom: none;
}

#nav-page a:hover {
  font-weight: bold;
}

@media screen and (max-width: 720px) {
  #nav-page {
    height: 2.2rem;
  }
}
