
/*default page*/

body {
    font-family: Candara, sans-serif;
    background-color: #181a1b;
    color: #c8c3bc;
    max-width: 700px;
    margin: auto;
}

h1 {font-size: 2.5rem;}
h2 {font-size: 2.2rem;}
h3 {font-size: 2.0rem;}
h4 {font-size: 1.8rem;}
h5 {font-size: 1.6rem;}
p, li, a, span  {font-size: 1.4rem;}

a, .colorlink {
    color: #a74a4a;
    cursor: pointer;
}

a {text-decoration: none;}
a:hover {text-decoration: underline;}

/*navigation bar*/
#navbar {
    display: flex;
    justify-content: space-between;
    align-content: center;
    border-bottom: 0.1rem solid #c8c3bc;
    margin-top: 1rem;
}

#navbar h1 {margin: 0;}

#navbar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

#navbar i {
    font-size: 1rem;
}

/*archive*/
#archivelist {
    display: flex;
    flex-direction: column;
    margin-left: -2rem;
}

#archivelist li {
    list-style: none;
}

/*article*/
article {margin: 4rem 0;}

article ul li {
    margin-bottom: 0.8rem; 
    line-height: 1.4;
}

p{
    line-height: 1.5;
    text-align: left;
    hyphens: auto;
    opacity: .9;
}

.icon-font {
    color: #c8c3bc;
}

.icon-font:hover {
    color: #a74a4a;
}

/*navigation bar article*/
#navbararticle {
    position: fixed;
    bottom: 0px;
    z-index: 1;
    background-color: #181a1b;
    width: 700px;
    padding: .3rem 0 .5rem;
}

#navbararticle ul {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 1rem;
    margin: 0;
}

#navbararticle ul li {
    list-style: none;
    font-size: 1.2rem;
}

#navbararticle ul li a {font-size: 1.2rem;}


@media screen and (max-width: 800px) {
    body {max-width: 90vw !important;}
    #navbararticle{max-width: 90vw !important;}
}