@font-face {
    font-family: "Icons";
    src: url("/fonts/SymbolsNerdFont-Regular.ttf");
}

@font-face {
    font-family: "Others";
    src: url("/fonts/Other-Symbols.otf");
}

.icon_back::before {
    font-family: 'Icons';
    font-size: 2.5rem;
    content: '󰮹';
}

.icon_next::before {
    font-family: 'Icons';
    font-size: 2.5rem;
    content: '󰮺';
}

.icon_home::before {
    font-family: 'Icons';
    content: '󰮹';
}

.icon_exit::before {
    font-family: 'Icons';
    content: '󰩈';
}

.icon_cover::before {
    font-family: 'Icons';
    content: '';
}

.icon_content::before {
    font-family: 'Icons';
    content: '';
}

.icon_chip::before {
    font-family: 'Icons';
    content: '';
}

.icon_light::before {
    font-family: 'Icons';
    content: '';
}

.icon_top::before {
    font-family: 'Icons';
    content: '󱕑';
}

.icon_github::before {
    font-family: 'Icons';
    content: '';
}

.icon_nostr::before {
    font-family: 'Others';
    font-size: 120%;
    content: 'N';
}

.icon_info::before {
    font-family: 'Icons';
    font-size: 90%;
    content: '';
}

.icon_close::before {
    font-family: 'Icons';
    content: '';
}

.icon_download::before {
    font-family: 'Icons';
    content: '󰥦';
}