@font-face {
  font-family: "Icons";
  src: url("../fonts/SymbolsNerdFontMono-Regular.ttf");
}

.icon_github::before {
  font-family: "Icons";
  content: "";
}

.icon_linkedin::before {
  font-family: "Icons";
  content: "";
}

.icon_translate::before {
  font-family: "Icons";
  content: "󰗊";
}

.icon_theme::before {
  font-family: "Icons";
  content: "󰔎";
}

.icon_angles_up:before {
  font-family: "Icons";
  content: "";
}

.icon_angles_down:before {
  font-family: "Icons";
  content: "";
}

.icon_calendar::before {
  font-family: "Icons";
  content: "";
}

.icon_home::before {
  font-family: "Icons";
  content: "";
}

.icon_nav::before {
  font-family: "Icons";
  content: "";
}

.icon_page_next::before {
  font-family: "Icons";
  content: "󰮱";
}

.icon_page_previous::before {
  font-family: "Icons";
  content: "󰮳";
}

.icon_content::before {
  font-family: "Icons";
  content: "";
}
