/* Remove a rolagem se o conteúdo for pequeno */
body {
  max-height: 100%;
  height: 100%;
  max-width: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin: 0 0 8%;
  padding: 0;
}

/* Estilo do Conteúdo (Markdown) */
.terminal-content {
  text-align: center;
  margin: 0;
  padding: 0;
}

.terminal-content h1 {
  font-size: 3rem;
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 0.5rem;
  border: none; /* Remove bordas padrão se houver */
}

.terminal-content p {
  font-size: 1.2rem;
  color: var(--text-muted);
}

/* Navegação Vertical ou em Bloco */
.landing-nav,
.landing-icons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 90% !important;
  gap: 1rem;
  padding: 0;
  margin: 0;
  border-left: 2px solid var(--ui-border);
}

.landing-icons {
  margin-top: 3rem;
}

.landing-nav a,
.landing-icons a {
  font-family: var(--font-stack-mono);
  font-size: 1.1rem;
  color: var(--accent-action);
  text-decoration: none;
  border: none;
  width: fit-content;
}

.landing-nav a:hover,
.landing-icons a:hover {
  background: none;
  color: var(--accent-primary);
  transition: all 0.2s ease;
}

.landing-nav a:hover {
  text-decoration: underline;
}

.landing-footer {
  position: fixed;
  bottom: 1rem;
  width: 100%;
  text-align: center;
  font-size: 0.8rem;
  opacity: 0.5;
}

@media screen and (max-width: 768px) {
  .landing-nav {
    width: 80% !important;
    flex-direction: column !important;
    justify-content: center;
    align-items: end;
    gap: 0.5rem;
  }
}
