@import url('https://fonts.googleapis.com/css2?family=Acme&family=Cardo:ital,wght@0,400;0,700;1,400&family=IM+Fell+English:ital@0;1&display=swap');

@font-face {
    font-family: "Fira Code";
    src: url("/fonts/FiraCode-VF.ttf");
}


:root {
    --background: #1f1f1f;
    --foreground: #b69b6d;
    --text: #e0e0e0;
    --reverse-text: #121212;
    --link: #4a8065;
    --nav: #1c1c1c;
    --disabled: #777777;
}

.light-theme {
    --background: #f4f1e6;
    --foreground: #b08f5a;
    --text: #0e0e0e;
    --reverse-text: #ffffff;
    --link: #345543;
    --nav: #e4d9c6;
    --disabled: #b1a9a1;
}

::-webkit-scrollbar {
    background-color: transparent;
    width: 9px;
}

::-webkit-scrollbar-thumb {
    background-color: transparent;
    border: 2px solid var(--link);
}

::-webkit-scrollbar-thumb:hover {
    background-color: transparent;
}

html, html * {
    scrollbar-color: var(--link) transparent;
    scrollbar-width: thin;
    scroll-behavior: smooth;
}

body {
    background-color: var(--background);
    color: var(--text);
    /*font-family: Candara, Geneva, Verdana, Tahoma, sans-serif;*/
    font-family: "Cardo", serif;

    max-width: 700px;
    margin: auto;
}

/* Texte defaut */

h1 {
    font-size: 2.7rem;
    font-family: "IM Fell English", serif;
}
h2 {font-size: 2.0rem;}
h3 {font-size: 1.8rem;}
h4 {font-size: 1.6rem;}
p,
li,
th,
tr {
    font-size: 1.5rem;
    line-height: 140%;
    margin-bottom: .5rem;
}

.color-link {color: var(--link);}
a {
    color: var(--link);
    text-decoration: none;
}

button {
    margin: 0;
    padding: 0;
    border: none;
    width: auto;
    height: auto;
}

code {
    font-family: 'Fira Code' !important;
    font-feature-settings: "ss01", "ss02", "ss03", "ss04", "ss05", "ss06", "zero", "onum" !important;

    width: 100% !important;
}

figure {
    caption-side: bottom !important;
}

/* ------------ */

/* Nav Bar */

#main-nav {
    background-color: var(--nav);

    display: flex;
    justify-content: center;
    align-items: self-start;

    width: 100dvw;
    padding: 1rem 0 .7rem;
    box-shadow: 0px 1px 5px black;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

#logo {
    width: 50px;
}

#main-nav h1 {
    /*font-size: 2.2rem;*/
    margin: 0;
    padding: 0;
}

#main-nav ul {
    display: flex;
    justify-content: center;
    align-items: center;

    list-style: none;
}

#main-nav a {
    text-decoration: none;
    color: var(--text);
    font-size: 1.3rem;

    padding: .2rem .5rem 0;   
    border-top: 2px dotted transparent;

    transition: all .4s ease-in-out;
}

#main-nav a:hover {
    border-top: 2px dotted var(--link);
    color: var(--link);
}

/* ------- */

/* Floating Button */
.floating-button {
    position: fixed;
    right: .5rem;
    z-index: 9;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: .5rem;
}

.floating-bottom-position {
    bottom: .5rem;
}

.floating-top-position {
    top: .5rem
}

.floating-button-formatting {
    display: inline-block;

    background-color: transparent;
    color: var(--link);
    opacity: .7;
    
    padding: 0;
    margin: 0;

    cursor: pointer;

    font-size: 1.5rem;
    text-align: center;

    transition: all .7s ease-in-out;
}

.floating-button-formatting:hover {
    text-decoration: none;
    opacity: 1;
}

.floating-button-disabled {
    display: none;
}

/* ---------- */

/* Articles */

article,
main {
    width: 96%; margin: auto;
}

article {
    padding: 3rem 0 5rem;
}

article h1+p:first-letter,
.word-cappilar:first-letter {
    font-size: 5.5rem;
    color: var(--link);
    font-weight: bold;
    line-height: 1;
    initial-letter: 2;
    padding-right: .5rem;
    float: left;
}

article p,
article li {
    hyphens: auto;
    hyphenate-character: "_";
}

article a:hover {
    text-decoration: underline;
}

article table {
    border-collapse: collapse;
    caption-side: bottom;
    width: 100%;
    margin: 0;
    padding: 0;
}

article td, th {
    border: 1px solid var(--text);
    padding: 0.7rem;
    margin: 0;
}

article tr:nth-child(even) {
    background-color: var(--nav);
}

article .quote {
    width: 70%;
    text-align: right;
    margin-left: 20%;
    font-size: 1.1rem !important;
    text-align: justify;
 }

article .code-inline {
    background-color: #0e0e0edd;
    color: white;
    border-radius: 5px;
    padding: .2rem .5rem;
    font-size: 1.1rem;
}

/* -------- */

/* Archive */

#archive {
    width: 94%;
    
    display: flex;
    flex-direction: column;
    gap: .7rem;

    padding: 7rem 0 3rem;

}

#archive a {
    background-color: transparent;
    color: var(--text);
    text-decoration: none;
    box-shadow: 0 0 0 var(--nav);

    display: flex;
    flex-direction: column;
    
    border-radius: 0;
    border: 3px dotted var(--link);
    padding: .7rem 1rem;

    transition: all .3s ease-in-out;
}

#archive a:hover {

    background-color: var(--link);
    color: var(--reverse-text);
    box-shadow: 0 3px 3px black;

    border-radius: 10px;
    border-color: transparent;
}

#archive .archive-title {
    font-size: 1.5rem;
    font-weight: 500;
    
    display: inline-block;
    margin: .2rem 0 .7rem;
}

#archive .archive-date {
    font-size: 1rem;
    text-align: right;
}

#chapter {
    color: var(--text);
    
    display: inline-block;

    font-size: 1.4rem;
    
    margin-top: 2rem;
    padding-bottom: .7rem;
    width: 100%;
    
    border-bottom: 2px solid var(--text);
}

#chapter::before {
    font-family: 'Icons';
    color: var(--foreground);
    content: ' ';
}

/* ------- */

/* Book Nav */

#book-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: var(--nav);
    opacity: .9;
    
    max-width: 100dvw;
    position: fixed;
    /*bottom: -2.3rem;*/
    bottom: 0;
    left: auto;
    z-index: 10;

    width: 700px;
    margin: 0;
    padding: 0;
    
    box-shadow: 0px -2px 5px #00000056;
    transition: all .3s ease-in-out;
}

#book-nav * {
    margin: 0;
    padding: 0;
}

#book-nav ul {
    display: flex !important;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
}

#book-nav ul li {
    list-style: none;
    
    display: flex;
    justify-content: center;
    align-items: center;

    width: 20%;
    
    transition: .3s ease-in-out;
}

#book-nav a {
    display: block;
    text-decoration: none;
    text-align: center;
    color: var(--text);
    width: 100%;
}

#book-nav ul a:hover {
    background-color: var(--link);
    color: var(--reverse-text);
    cursor: pointer;
}

#book-nav .disabled {
    color: var(--disabled);
}

#book-nav .disabled:hover {
    cursor: not-allowed;
    background-color: transparent;
    color: var(--disabled);
}

/* -------- */

/* Book */

#book-cover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-height: 90dvh;

    padding-bottom: 1rem;
}

#book-title {
    font-size: 2.7rem;
}

#book-subtitle {
    font-size: 1.9rem;
}

#book-author {
    font-size: 1.8rem;
}

#book-cover img {
    object-fit: cover;
    padding: 4% 0 0;
    height: 90dvh;
}

#book-cover-art {
    font-size: 20dvw;
}

/* ---- */

/* Footer */

#footnotes hr {
    width: 40%;
    margin-right: 60%;
    border-color: var(--foreground);
}

#footnotes p {
    font-size: 0.9rem;
    margin: 0;
}

#footnotes a {
    color: var(--link);
}

/* ------ */

/* Footer */

footer {
    border-top: 1px dashed var(--nav);
    box-shadow: 0 2px 3px #00000056;
    padding: 0;
    margin: 0;
    margin-bottom: 1rem;
}

footer ul {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 1rem;

    padding: 0;
    margin: 0;

    list-style: none;
}

footer a {
    text-decoration: none;
    color: var(--text);
    font-size: 1.1rem;

    transition: all .3s ease-in-out;
}

footer a:hover {
    text-decoration: none;
    color: var(--link);
}

footer .button-nostr {
    background-color: transparent;
    color: var(--text);
    font-size: 1.1rem;
    width: auto;
    height: auto;
}

footer .button-nostr:hover {
    color: var(--link);
    cursor: pointer;
}

footer .footer-separator {
    font-size: 1rem;
    opacity: .3;
}

/* ----- */

/* About */

#main-about {
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95dvh;
}

#content-about {
    position: relative;

    display: flex;
    justify-content: left;
    align-items: center;
    gap: 1rem;

    border-radius: 10px;
    box-shadow: 0px 0px 5px #00000056;

    padding: 1rem;
}

#content-about img {
    max-width: 30%;
}

#main-about .button-exit-relative {
    position: absolute;
    top: 0rem;
    right: 0rem;

    padding: .7rem 1rem;

    text-decoration: none;
}

#content-about ul {
    list-style: none;

    display: flex;
    justify-content: start;
    gap: 1rem;

    padding: 0;
}

#content-about .button-nostr {
    background-color: transparent;
    color: var(--link);
    cursor: pointer;
}

/* ------ */

@media screen and (max-width: 720px) {
    body {max-width: 92dvw !important;}
    
    /* Book */

    #book-title {
        font-size: 8.5dvw;
    }
    
    #book-subtitle {
        font-size: 6dvw;
    }

    #book-author {
        font-size: 6dvw;
    }
    
    #book-cover img {
        object-fit: cover;
        padding: 4% 0 0;
        height: 90dvh;
    }

    #book-cover-art {
        font-size: 50dvw;
    }

    #book-cover-page p {
        font-size: 1.3rem;
    }
    
    #book-nav {
        width: 100%;
        left: 0;
    }

    #content-about {
        flex-wrap: wrap;
    }
 }

@media screen and (max-width: 600px) {

    article h1+p:first-letter,
    .word-cappilar:first-letter {
        float: none;
    }    
}