body {
    background-color: #c8c3bc;
}

main {
    display: flex !important;
    justify-content: center;
    align-items: center;
    padding-bottom: 4rem;
}

main img {
    object-fit: cover;
    padding: 4% 0 0;
    max-width: 100%;
}