::-webkit-scrollbar {
    background-color: #c8c3bc;
    width: 9px;
}

::-webkit-scrollbar-thumb {
    background-color: #181a1b;
    border: 2px solid #c8c3bc;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #181a1b;
}

html, html * {
    scrollbar-color: #181a1b #c8c3bc;
    scrollbar-width: thin;
}

#navbar-book {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #181a1b;
    position: fixed;
    bottom: -2.2rem;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    z-index: 10;
    box-shadow: 0px 1px 5px #181a1b;
    transition: .4s all ease-in-out;
}

#navbar-book:hover {
    padding-top: .3rem;
    bottom: 0;
}

#navbar-book ul {
    display: flex !important;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: calc(20% / 6);
    width: 250px;
    margin: 0;
}

#navbar-book ul li {
    list-style: none;
}

#navbar-book a {
    display: inline-block;
    color: #a74a4a;
    text-decoration: none;
    font-size: 1.4rem;
    padding: .5rem 0 .7rem;
    transition: .3s ease-in-out;
}

#navbar-book .enabled:hover {
    padding: .2rem 0 1rem;
    cursor: pointer;
}

#navbar-book .disabled {
    cursor: default;
    color: grey !important;
}

@media screen and (max-width: 641px) {
    #navbar-book {
        bottom: 0;
        left: 0;
        width: 100%;
        margin: 0;
        padding: .3rem 0 0;
        box-shadow: 0px 0px 5px #181a1b;
    }
    #navbar-book ul {
        width: 80%;
    }
}

@media screen and (max-width: 1008px) {
    #navbar-book {
        bottom: 0;
        left: 0;
        width: 100%;
        margin: 0;
        padding: .3rem 0 0;
        box-shadow: 0px 0px 5px #181a1b;
    }
}